.button-primary
{
    border-radius: 9%;
    text-align: center;
    border: 1px solid var( --border-card-color );
    color:  hsl(49, 17%, 88%);
    background-color: var( --primary-color );
    font-size: 1.01em;
    cursor: pointer;
    transition: all 100ms;
}
.button-primary:hover
{
    background-color: var( --border-card-color );
    color: var( --primary-color );
    border-color: var( --primary-color );
}