.button-primary
{
    text-align: center;
    border: 2px solid var( --border-card-color );
    color:  hsl(49, 17%, 88%);
    background-color: var( --primary-color );
    font-size: 1.01em;
    cursor: pointer;
    transition: all 100ms;
}
.button-primary:hover
{
    background-color: var( --text-third-color );
    text-transform: capitalize;
    font-weight: bold;
}
.button-secondary
{
    text-align: center;
    border: 2px  solid var( --primary-color );
    background-color: var(--background-nav );
    font-size: 1.01em;
    cursor: pointer;
    transition: all 100ms
}

.button-secondary:hover
{
    border-color: var( --text-third-color );
    font-weight: bold;
}